<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <style type="text/css">
        .wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 50%;
            /*height: 300px;*/
            display: grid;
            grid-template-rows: auto auto;
            row-gap: 8px;
        }

        .users {
            overflow-y: auto;
            max-height: 200px;
        }

        .controls button {
            width: 100%;
            cursor: pointer;
        }

        .user-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 8px;
        }

        a {
            text-decoration: none;
            color: gray;
        }

        .button-style {
            background: lightgray;
            color: black;
            text-align: center;
            border: solid 1px;
        }

        .form-input {
            display: grid;
        }

        .hidden {
            display: none;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="card">
        {{{body}}}
    </div>
</div>

<script type="text/javascript">
    function displayErrorMessages(name, phone) {
        if (name.length === 0) {
            name_require_error.classList.remove('hidden');
        } else {
            name_require_error.classList.add('hidden');
        }

        if (phone.length === 0) {
            phone_require_error.classList.remove('hidden');
        } else {
            phone_require_error.classList.add('hidden');
        }

        if (doesPhoneValid(phone)) {
            phone_format_error.classList.add('hidden');
        } else {
            phone_format_error.classList.remove('hidden');
        }
    }

    function doesFormValid(name, phone) {
        return name.length > 0 && phone.length > 0 && doesPhoneValid(phone);
    }

    function doesPhoneValid(phone) {
        const regularExp = /^\d[\d\(\)\ -]{4,14}\d$/;
        return regularExp.test(phone);
    }
</script>
</body>
</html>